.glass-bg {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-6)
  );
  border-radius: 16px;
  /* boxShadow: 0 4px 30px rgba(0, 0, 0, 0.1), */
  backdrop-filter: blur(5px);
  webkit-backdrop-filter: blur(5px);
}

.header-right-part {
  padding: var(--mantine-spacing-md);
  border-radius: 1.5rem;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-black)
  );
}
